
<button class="btn btn-danger">Delete - @ProductId</button>

<br />

@code {
    [Parameter]
    public int ProductId { get; set; }
    [Parameter]
    public string ProductName { get; set; }

    void DeleteProduct(int id)
    {
        
    }
}
